*{
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.logo {
    width: 200px;
    padding:1px 1px;
    margin-left: -100px;
    
}

.aguirre {
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: black;
}


.call {
    margin-top: -20px;
}

 #pc {
  
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 1px 30px;
    background: #e70000;
    color: #fff !important;
    font-family: "Oswald", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    line-height: 1.0;
    letter-spacing: 1px;
    text-align: center;
    white-space: pre-wrap;
} 

.number {
    background-color: ;
}

.carousel-item {
    height: 90vh;
    min-height: 800px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition: 0.1s ease-in-out left;
    -moz-transition: 0.1s ease-in-out left;
    -o-transition: 0.1s ease-in-out left;
    transition: 0.1s ease-in-out left;
}

/*
.carousel-inner>.item {
    position: relative;
    display: none;
    -webkit-transition: 0.2s ease-in-out left;
    -moz-transition: 0.2s ease-in-out left;
    -o-transition: 0.2s ease-in-out left;
    transition: 0.2s ease-in-out left;
}*/

.navbar-toggler {
    background-color: white;
}

html,
body {
    height: 100%;
    background: center no-repeat fixed url('/assets/example/bg_suburb.jpg');
    background-size: cover;
}

.icon-bar {
    background-color: #fff;
}

.navbar-trans {
    background-color: #279ddd;
    color: #fff;
}

.navbar-trans li>a:hover,
.navbar-trans li>a:focus,
.navbar-trans li.active {
    background-color: #38afef;
}

.navbar-trans a {
    color: #fefefe;
}

.navbar-trans .form-control:focus {
    border-color: #eee;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 100, 100, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(100, 100, 100, 0.6);
}

section {
    padding-top: 70px;
    padding-bottom: 50px;
    min-height: 100vh;
}

.v-center {
    padding-top: 10%;
    font-size: 70px;
}

.well {
    border-color: transparent;
}

a.list-group-item.active,
[class*='-info'] {
    background-color: #168ccc;
    color: #fff;
}

#section1 {
    background-color: #168ccc;
    color: #dedeff;
}

#section2 {
    background-color: #e5e5ef;
    color: #686868;
}

#section3 {
    background-color: #168ccc;
    color: #ddd;
}

#section4 {
    background-color: #fff;
    color: #444;
}

#section5,
#section7,
#section7 a {
    color: #f5f5f5;
}

#section6 {
    background-color: #168ccc;
    color: #ddd;
}

footer {
    background-color: #494949;
    color: #ddd;
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
}

footer .nav>li>a {
    padding: 3px;
    color: #ccc;
}

footer .nav>li>a:hover {
    background-color: transparent;
    color: #fff;
}

#section3 {
    background: url('img/black-steel.jpg') no-repeat;
    /*background-size: 100%;*/
}








.bbb {
    
}

.left-side {
    margin-left: 20px;
    background-color: ;
  
}

.reasonto {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 3.2rem;
    color: red;
    font-family: "Oswald", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1.1;

}

.powerflo {
    display: block;
    font-size: 5.0rem;
    
    color: white;
}

.schedule {
    display: inline-block;
    margin-bottom: 45px;
    margin-top: 20px;
    padding: 10px 30px;
    background: #e70000;
    color: #fff !important;
    font-family: "Oswald", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
    line-height: 1.0;
    letter-spacing: 1px;
    text-align: center;
    white-space: pre-wrap;
}

/* @media (min-width: 992px) {

.logo {
    width: 100px;
    padding: 1px 1px;
    
}

.aguirre {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.clipboard {
    width: 300px;
}

.reasons {
    margin-top: 6%;
}

} */



@media screen and (max-width: 680px) {



.clipboard {
    width: 300px;
}

.logo {
    width: 100px;
    padding: 1px 1px;
    margin-left: -100px;
}

.aguirre {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



}

.reason-right {
    
}

.clipboard {
    width: ;
    padding: 10px;
    margin-top: -40px;
}

.power {
   /* background: url('img/black-steel.jpg') no-repeat;*/
    
  
}