.body-container {
    padding: 30px 0px;
    background: #f1f1f1;
}

.container-fluid {

    margin-right: auto;
    margin-left: auto;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

#section1 {
    margin: 0;
    padding: 0;
    border: 0;
    color: black;
    font-size: 100%;
    font: inherit;
}

.logo1b {
    margin-top: -180px;
}

.service-title {
    font-family: 'Impact', 'Charcoal', 'sans-serif';
    font-size: 50px;
    text-align: center;
    
    color:rgb(184, 144, 144);

}

.map {
    padding: 10px;
    width: 400px;
    border-style: solid;
}

.sidebar .sidebar-header {
    padding: 12px 10px;
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;
    background: #072f57 url(../images/blue-bar-bg.png) repeat-x;
    border-bottom: 4px solid #be0017;
}

.sidebar .sidebar-header {
    color: white;
    padding: 12px 10px;
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;
    background: #072f57 url(../images/blue-bar-bg.png) repeat-x;
    border-bottom: 4px solid #be0017;
}

.panel-body {
    background-color: rgb(53, 64, 231);
    border-radius: 3px;
    color: white;
}

.sidebar-btn {
    display: block;
    padding: 10px 12px;
    text-align: center;
    color: white;
    background: #e6001c;
    border-radius: 4px;
    font-family: 'raleway';
    font-weight: 700;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
}

.sidebar-btn {
    display: block;
    padding: 10px 12px;
    text-align: center;
    color: white;
    background: #e6001c;
    border-radius: 4px;
    font-family: 'raleway';
    font-weight: 700;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
}


@media (min-width: 992px){

.col-md-4 {
    width: 33.33333333%;
}

.logo1b {
    margin-top: 1px;
    padding: 10px;
    width: 35%;
}
}


@media (min-width: 992px){

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}

.logo1b {
    margin-top: 1px;
    padding: 10px;
    width: 35%;
}
}


@media (min-width: 768px){

.col-sm-5 {
    width: 41.66666667%;
}

.logo1b {
    margin-top: 1px;
    padding: 10px;
    width: 35%;
}
}


@media (min-width: 768px){

.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}

.logo1b {
    margin-top: 1px;
    padding: 10px;
    width: 35%;
}


.col-xs-12 {
    width: 100%;
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

}

@media screen and (max-width: 680px){
.logo1b {
    margin-top: 1px;
    padding: 10px;
    width: 55%;
}
}

@media screen and (max-width: 780px) {
    .logo1b {
        margin-top: 1px;
        padding: 10px;
        width: 55%;
    }
}

@media screen and (max-width: 461px) {
    .sidebar-contact {
        margin-bottom: -200px;
    }
}